.authentication__header {
    color: white;
    text-align: center;
}

.authentication {
    width: 90%;
    max-width: 30rem;
    margin: 7rem auto;
    text-align: center;
    padding: 10px;
}

.authentication form {
    margin-bottom: 1rem;
}

.switch-btn {
    background: transparent;
    border: transparent;
    cursor: pointer;
    flex-direction: row;
    float: right;
    margin: 0 10px 10px 0;
    font-size: 1rem;
    font-weight: bold;
}

.switch-btn:hover,
.switch-btn:active {
    border: 1px solid black;
    padding: 5px;
    border-radius: 4px;
}