.users-list {
  list-style: none;
  margin: 0 auto;
  margin-top: 8rem;
  padding: 0;
  width: 90%;
  height: 90%;
  max-width: 70rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.no-users {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 50rem;
}